@media print {
    .no-print {
        display: none;
    }
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .receipt {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}
.receipt {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f3e0d1;
    font-family: Apple Chancery, cursive;
}
.receipt-header {
    text-align: center;
    margin-bottom: 20px;
    color: #A44842;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    /* font-family: Apple Chancery, cursive; */
    font-weight: bold
}
.receipt-details {
    margin-bottom: 20px;
}
.receipt-items {
    width: 100%;
    border-collapse: collapse;
}
.receipt-items th, .receipt-items td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.receipt-total {
    text-align: right;
    margin-top: 20px;
}