body {
    background-color: #F5F0E6;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    height: 100vh;
    background-color: #847171;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
}
        
.sidebar h3 {
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}

.sidebar h4 {
    color: #ecf0f1;
    margin-bottom: 20px;
    /* font-weight: bold; */
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #6c757d;
}

.sidebar a.active {
    background-color: #6c757d;;
    color: white;
}

.sidebar a i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.table-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
}

.table {
    margin-bottom: 0;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-delete:hover {
    background-color: #c0392b;
    background-color: #c82333;
    color: white;
        
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .main-content {
        margin-left: 0;
    }
}
